html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel="icon", type="image/x-icon", href="favicon.png")
    body
        nav(class="navbar navbar-expand-lg navbar-light bg-light")
            div(class="collapse navbar-collapse")
                ul(class="navbar-nav mr-auto")
                    li(class="nav-item")
                        a(class='nav-link' href="/books/create") Admin Books Page
                    li(class="nav-item")
                        a(class='nav-link', href="/users/create") Admin Users Page
                    li(class="nav-item")
                        a(class='nav-link' href="/transactions/create") Admin Transactions Page
                    li(class="nav-item")
                        a(class='nav-link' href="/books") Books
                    li(class="nav-item")
                        a(class='nav-link' href="/users") Users
                    li(class="nav-item")
                        a(class='nav-link' href="/transactions") Transactions
                    li(class="nav-item")
                        a(class='nav-link' href="/auth/login") LOGIN

        block content