extends ./layouts/common.pug
block content
    if errors
        each error in errors
          .alert.alert-danger= error

    form(method='GET' action='/users?q=${q}', class='form-group')
        h1 Search Users
        div(class="d-flex")
            label(for='q', class='input-group-text') Name:
            input(id='q', type='text', placeholder='Product Name', name='q', class="form-control")
            button(type='submit', class="btn btn-primary") Search

    form(method='POST', action="/users/create")
        h1 Create User
        div(class='d-flex')
            label(for='name', class='input-group-text') User name
            input(id='name', type="text", placeholder="Name", name="name", class="form-control", value=values ? values.name : '' )
            button(type="submit", class="btn btn-primary") Create