extends ./layouts/common.pug
block content
    form(method='POST', action="/transactions/create", class='form-group')
        h1 Create Transaction
        div(class="input-group-sm mb-3")
            div(class='d-flex')
                label(for='book', class='input-group-text') Select Book
                select(id="book", name='bookId', class="form-control")
                    each book in books
                        option(value=book.id)= book.title 
                label(for='user', class='input-group-text') Select User
                select(id="user", name='userId', class="form-control")
                    each user in users
                        option(value=user.id)= user.name
                button(type="submit", class="btn btn-primary") Create