div
    a(href="/books/create") Admin Books Page
    span &nbsp
    a(href="/users/create") Admin Users Page
    span &nbsp
    a(href="/transactions/create") Admin Transactions Page

div
  ul
    each book in books
      li
        span= book.title
        span &nbsp
        a(href='/books/' + book.id) View
        span &nbsp
        a(href='/books/' + book.id + '/delete') Delete