div
    a(href="/books") Books List
    span &nbsp
    a(href="/admin-book") Admin Page

div
    div
        b Title
        span &nbsp
        span= book.title

        form(method='POST', action="/books/" + book.id + "/update")
                h4 Update Title
                div
                    label(for='title') New Title
                    input(type="text", placeholder="Book title", name="title")
                    button(type="submit") Update
       
    div
        b Description
        p= book.description
