extends ./layouts/common.pug

block content
  h2 Books List
  div
    ul(class="list-group")
      each book in books
        li(class="list-group-item")
          span= book.title
          span &nbsp
          a(class="badge badge-primary", href='/books/' + book.id) View
          span &nbsp
          a(class="badge badge-danger", href='/books/' + book.id + '/delete') Delete