div
    a(href="/books") Books List
    span &nbsp
    a(href="/admin-book") Admin Page

div
    div
        b Title
        span &nbsp
        span= book.title
    div
        b Description
        p= book.description
    
