extends ./layouts/common.pug
block content
    div(class='d-flex')
        h2 Title
        span &nbsp
        h2
            span(class="badge badge-dark")= book.title
    div
        form(method='POST', action="/books/" + book.id + "/update",class='form-group')
            h4 Update Title
            div(class='d-flex')
                label(for='title', class='input-group-text') New Title
                input(type="text", placeholder="Book title", name="title", class="form-control")
                button(type="submit", class="btn btn-primary") Update
    
    div(class="modal-content")
        h1(class="badge badge-success") Description
        p= book.description
