extends ./layouts/common.pug
block content
    div
        div(class="blockquote")
            h4(class="badge badge-secondary") User
            span= transaction.userId
        
        div(class="blockquote")
            h4(class="badge badge-secondary") Book
            span= transaction.bookId
