div
    a(href="/transactions") Transactions List
    span &nbsp
    a(href="/transactions/create") Admin Page

div
    div
        b User
        span &nbsp
        span= transaction.userId
       
    div
        b Book
        span= transaction.bookId
