div
    a(href="/books/create") Admin Books Page
    span &nbsp
    a(href="/users/create") Admin Users Page
    span &nbsp
    a(href="/transactions/create") Admin Transactions Page

h2 Transactions List

div
  ol
    each transaction in transactions
      li
        div
          a(href='/transactions/' + transaction.id)= transaction.id
        div
          span= "User ID: " + transaction.user
          span &nbsp
          a(href='/users/' + transaction.user) View
        div
          span= "Book ID: " + transaction.book
          span &nbsp
          a(href='/books/' + transaction.book) View