div
    a(href="/books/create") Admin Books Page
    span &nbsp
    a(href="/users/create") Admin Users Page
    span &nbsp
    a(href="/transactions/create") Admin Transactions Page

h2 Users List

div
  ul
    each user in users
      li
        span= user.name
        span &nbsp
        a(href='/users/' + user.id) View
        span &nbsp
        a(href='/users/' + user.id + '/delete') Delete