extends ./layouts/common.pug
block content
  h2 Users List

  div
    ul(class="list-group")
      each user in users
        li(class="list-group-item")
          span= user.name
          span &nbsp
          a(class="badge badge-primary", href='/users/' + user.id) View
          span &nbsp
          a(class="badge badge-danger", href='/users/' + user.id + '/delete') Delete